<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Tell IIS to use the iisnode module for .js files -->
      <add name="iisnode" path="backend/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Redirect all requests to the server.js file -->
        <rule name="DynamicContent">
          <match url=".*" />
          <action type="Rewrite" url="backend/server.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- iisnode logging -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />
  </system.webServer>
</configuration>
